<form *ngIf="plant" (ngSubmit)="onSubmit()" #plantForm="ngForm">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel">
    
          <!-- plant name -->
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name"
                    required
                    pattern=""
                   [(ngModel)]="plant.name" name="name"
                   #name="ngModel">
    
            <div [hidden]="name.valid || name.pristine"
                  class="card-panel red accent-1">
                  Le nom de la plante est requis (1-25).
            </div>
          </div>
    
          <!-- plant exposure -->
          <div class="form-group">
            <label for="exposure">Exposition</label>
            <input type="text" class="form-control" id="exposure"
                    required
                    pattern=""
                   [(ngModel)]="plant.exposure" name="exposure"
                   #exposure="ngModel">
             <div [hidden]="exposure.valid || exposure.pristine"
                   class="card-panel red accent-1">
                   l'exposition de la plante est invalide.
             </div>
          </div>
    
          <!-- plant watering -->
          <div class="form-group">
            <label for="watering">Arrosage</label>
            <input type="text" class="form-control" id="watering"
                    required
                    pattern=""
                   [(ngModel)]="plant.watering" name="watering"
                   #watering="ngModel">
             <div [hidden]="watering.valid || watering.pristine"
                   class="card-panel red accent-1">
                   La fréquance d'arrosage de la plante est invamlide.
             </div>
          </div>
    
          <!-- plant types -->
          <form class="form-group">
            <label for="types">Types</label>
            <p *ngFor="let type of types">
              <label>
                <input type="checkbox"
                  class="filled-in"
                  id="{{ type }}"
                  [value]="type"
                  [checked]="hasType(type)"
                  [disabled]="!isTypesValid(type)"
                  (change)="selectType($event, type)"/>
                <span [attr.for]="type">
                  <div class="{{ type | plantTypeColor }}">
                    {{ type }}
                  </div>
                </span>
              </label>
            </p>
          </form>
    
          <!-- Submit button -->
          <div class="divider"></div>
          <div class="section center">
            <button
              type="button"
              class="waves-effect grey lighten-2 btn"
              style="color: dimgray"
              (click)="goBack()">
              retour</button>
            <button type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!plantForm.form.valid">
              Valider</button>
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <h3 *ngIf="!plant" class="center">Aucun plante à éditer...</h3>
