<div *ngIf="plant" class="row">
    <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ plant.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="plant.picture">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Nom</td>
                <td><strong>{{ plant.name }}</strong></td>
              </tr>
              <tr>
                <td>Exposition</td>
                <td><strong>{{ plant.exposure}}</strong></td>
              </tr>
              <tr>
                <td>Arrosage</td>
                <td><strong>{{ plant.watering }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td>
                  <span *ngFor="let type of plant.types" class="{{ type | plantTypeColor }}">{{ type }}</span>
                </td>
              </tr>
              <tr>
                <td>Date de création</td>
                <td><em>{{ plant.created | date:"dd/MM/yyyy" }}</em></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goToPlants()">Retour</a>
          <a (click)="editPlant(plant)">Editer</a>
        </div>
        <div class="btn-flat">
          <a (click)="deletePlant(plant)">supprimer</a>
        </div>
      </div>
    </div>
    </div>
</div>
<h4 *ngIf='!plant' class="center">Aucun pokémon à afficher !</h4>