<div class="container">
    <div class="row">
        <div 
        *ngFor="let plant of plantList" 
        class="col m4 s6">
            <div appBorderCard (click)="selectPlant(plant)" borderColor="#9ccc65" class="card horizontal" >
                <div class="card-image">
                    <img style="object-fit: cover; object-position: 100% 0; width: 172px; height: 172px;" 
                    [src]= "plant.picture">
                </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{plant.name}}</p>
                    <p><small>{{plant.created | date : "dd MMM yyyy" }}</small></p>
                    <span 
                    *ngFor="let type of plant.types" 
                    class="{{ type | plantTypeColor }}">
                        {{type}} 
                    </span>
                </div>
            </div>    
        </div>
    </div>
</div>
